<div class="container" style="padding-top:40px;">
  <div class="row">
    <div class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <form [formGroup]="employeeForm" (ngSubmit)="onFormSubmit(employeeForm.value)">
            <h3 style="text-align:center">Register</h3>

            <div class="input-field col s12">
              <input type="text" class="form-control" placeholder="Loginname" formControlName="LoginName">
            </div>

            <div class="input-field col s12">
              <input type="text" class="form-control" placeholder="Email" formControlName="Email">
            </div>

            <div class="input-field col s12">
              <input type="password" class="form-control" placeholder="Password" formControlName="Password">
            </div>
            <div class="row">
              <div class="col s-6">
                <div class="input-field col s12">
                    <button type="submit" class="btn waves-effect waves-light">Add User
                        <i class="material-icons right">send</i>
                    </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>