
    <img src="../assets/images/logo.png">
    <nav>
        <div class="nav-wrapper">
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a routerLink="liveStation">Live Station</a></li>
                <li><a routerLink="liveTrain">Train Running Status</a></li>
                <li><a routerLink="trainsBetweenStations">Trains b/w Station</a></li>
                <li><a routerLink="trainSchedule">Train Schedule(Route) </a></li>
                <li><a routerLink="rescheduledTrains">Rescheduled Trains </a></li>
            </ul>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a routerLink="login">Login</a></li>
                <li><a routerLink="Register">New User</a></li>
            </ul>
        </div>
    </nav>
    <router-outlet></router-outlet>