<h1>Trains</h1>
<p>{{ trains }}</p>
<!-- <table>
    <th>Number</th>
    <th>Source</th>
    <th>Destination</th>
    <th>ScheduleArrival</th>
    <th>ScheduleDeparture</th>
    <th>Halt</th>
    <th>ExpectedArrival</th>
    <th>DelayInArrival</th>
    <th>ExpectedDeparture</th>
    <th>DelayInDeparture</th>
    <tr *ngFor="let trn of trains">
        <td> {{ trn.Number }} </td>
        <td> {{ trn.Source }} </td>
        <td> {{ trn.Destination }} </td>
        <td> {{ trn.ScheduleArrival }} </td>
        <td> {{ trn.ScheduleDeparture }} </td>
        <td> {{ trn.Halt }} </td>
        <td> {{ trn.ExpectedArrival }} </td>
        <td> {{ trn.DelayInArrival }} </td>
        <td> {{ trn.ExpectedDeparture }} </td>
        <td> {{ trn.DelayInDeparture }} </td>
    </tr> 
</table> -->